.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 160px;

}


.containerForm {
  background: #3a354e;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  display: flex;
  align-items: center;
  background: #4b4661;
  border-radius: 14px;
  padding: 14px 18px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.input:hover,
.input:focus-within {
  border-color: #6366f1;
}

.input img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
  opacity: 0.85;
  filter: brightness(0) invert(1);
}

.input input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 18px;
  color: #f9fafb;
}

.input input::placeholder {
  color: #d1d5db;
}


.button {
  background-color: #6366f1;
  color: #ffffff;
  border: none;
  padding: 12px 35px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #4f46e5;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.tab {
  background: transparent;
  color: #d1d5db;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
   text-decoration: none;
}

.tab:hover {
  color: #ffffff;
  border-bottom: 2px solid #6366f1;
}

.activeTab {
  color: #ffffff;
  border-bottom: 2px solid #6366f1;
}
